<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>SmartFi Desktop</Name>
    <Version>0.3.1</Version>
    <Title>SmartFi Desktop Installer</Title>
    <ProductUrl>https://atomicdex.io/</ProductUrl>
    <Publisher>KomodoPlatform</Publisher>
	<TargetDir>@ApplicationsDir@/SmartFi Desktop</TargetDir>
    <RunProgram>@TargetDir@/smartfi-desktop.app/Contents/MacOS/smartfi-desktop</RunProgram>
	<RunProgramDescription>Run SmartFi Desktop now.</RunProgramDescription>
    <StartMenuDir>SmartFi Desktop</StartMenuDir>
    <MaintenanceToolName>SmartFi Maintenance Tool</MaintenanceToolName>
	<InstallerWindowIcon>install_icon</InstallerWindowIcon>
    <InstallerApplicationIcon>install_icon</InstallerApplicationIcon>
    <Logo>install_icon.png</Logo>
    <WizardStyle>Mac</WizardStyle>
</Installer>